@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inknut Antiqua, serif;
  font-weight: 200;
}

body {
  background-color: rgb(221, 221, 221);
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.trybewarts-header-logo {
  width: 70px;
  height: 70px;
}

.trybewarts-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}

#trybewarts-header-title {
  color: white;
  font-weight: 700;
}

.trybewarts-login input {
  width: 160px;
  height: 45px;
  padding: 2px;
  border-radius: 10px;
  border: 1px solid gray;
}

.trybewarts-login button {
  color: white;
  width: 160px;
  height: 45px;
  padding: 2px;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: rgb(45, 0, 82);
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#main-container {
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
  width: 100%;
  justify-content: space-around;
}

#container-name , #container-email-school {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#container-name input , #container-email-school input , #house-container select {
  width: 49.6%;
  border: 0;
  height: 45px;
  border-radius: 10px;
}

#house-container select {
  width: 282px;
}

.margin-left-label {
  margin-left: 50px;
}

#footer {
  background-color: rgb(115, 107, 119);
  text-align: center;
  padding: 10px;
  color: white;
  font-weight: 700;
  font-size: 20px;
}

h2 {
  text-align: center;
}

.section-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#label-content {
  width: 100%;
  text-align: center;
}

#family-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}

#label-family {
  font-size: 20px;
  width: 100%;
  text-align: center;
}

#container-div {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

/* #container-login {
  display: flex;
  justify-content: space-between;
} */
